section#cite.position-relative.p-3.p-lg-5
    div.waveWrapper.waveAnimation
        div.inner.text-center.text-light
            blockquote #{cite}
            cite.author Steve Jobs
        div.waveWrapperInner.bgTop
            div.wave.waveTop(style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')")
        div.waveWrapperInner.bgMiddle
            div.wave.waveMiddle(style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')")
        div.waveWrapperInner.bgBottom
            div.wave.waveBottom(style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')")

section.talks-section.section.theme-bg-light-gradient.p-3
    div.container
        h1.section-title.font-weight-bold.mb-3 #{talks}
        div.section-intro.mx-auto.mb-5 #{talksdesc} 
        div.talks-blocks.mx-auto
            div.row.justify-content-evenly.mb-4
                div.talks-block.d-flex.col-12.col-xl-6.mb-5.mb-3.mb-xl-0.bg-white
                    div.iframe-video                           
                        iframe(width="325" height="240" src="https://www.youtube.com/embed/wTKCswGuyD4?si=bq9IYxDdOLQMxmLZ&t=5081" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    div.talks-block-inner.py-1.px-3.position-relative
                        h4.talks-cat.mb-3 MoodleMoot Brazil
                        span.talk-year.badge.badge-success 2023
                        div #{talk4}
                div.talks-block.d-flex.col-12.col-xl-6.mb-5.mb-3.mb-xl-0.bg-white
                    div.iframe-video                           
                        iframe(width="325" height="240" src="https://www.youtube.com/embed/OcgWLH-7Ik4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    div.talks-block-inner.py-1.px-3.position-relative
                        h4.talks-cat.mb-3 MoodleMoot Brazil
                        span.talk-year.badge.badge-success 2022
                        div #{talk3}                        
            div.row.justify-content-evenly
                div.talks-block.d-flex.col-12.col-xl-6.mb-5.mb-3.mb-xl-0.bg-white
                    div.iframe-video                           
                        iframe(width="325" height="240" src="https://www.youtube.com/embed/D3qU93u4-hw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    div.talks-block-inner.py-1.px-3.position-relative
                        h4.talks-cat.mb-3 Latinoware
                        span.talk-year.badge.badge-success 2021
                        div #{talk2}                        
                div.talks-block.d-flex.col-12.col-xl-6.mb-5.mb-3.mb-xl-0.bg-white
                    div.iframe-video                           
                        iframe(width="325" height="240" src="https://www.youtube.com/embed/gcKWK7h8bq8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    div.talks-block-inner.py-1.px-3.position-relative
                        h4.talks-cat.mb-3 MoodleMoot Brazil
                        span.talk-year.badge.badge-success 2021
                        div #{talk1}
    div.navigation
        ul.nav.nav-pills.justify-content-between
            li.nav-item
                a.nav-link(href="/jobs" data-bs-toggle="pill") #{jobs} 
            li.nav-item
                a.nav-link(href="/trema" data-bs-toggle="pill") #{trema} 
                