div.bg-header
section.about-me-section.theme-bg-light
    div.container
        div.flex-container.d-flex.flex-column
            div.profile-teaser.row
                div.col
                    h1.name.font-weight-bold.mb-1 Rodrigo Mady
                    div.tagline.mb-3 #{mainrole}
                    div.bio.mb-4 #{roledescription}
                    div.mb-4.btns-profile
                        a.btn.btn-primary.me-2.mb-3(href="https://trema.rmady.com.br/" target="_blank")
                            i.fa.fa-code.text-light
                            span.ml-2 #{trema}
                        a.btn.btn-secondary.mb-3(href="/cv")
                            i.fa.fa-file-code-o.text-light
                            span.ml-2 #{resume}                                         
                        a.btn.btn-warning.ml-2.mb-3(href="https://www.paypal.com/donate/?hosted_button_id=6FBZMX8PFPS3Y&source=qr" target="_blank") #{donate}
                            i.fa.fa-paypal.ml-2
                div.col-md-5.col-lg-5.text-center
                    img.profile-image.img-fluid.mb-3.mb-lg-0.me-md-0(src="/images/profile4.jpg")
    div.navigation
        ul.nav.nav-pills.justify-content-end
            li.nav-item
                a.nav-link(href="/skills" data-bs-toggle="pill") #{skills}
section.section-proof.section.bg-white.py-5.p-3.p-lg-5.theme-bg-light
    div.container 
        h3.section-title.font-weight-bold.mb-5 #{jobs}
        div.logos.row.mb-5.text-center 
            div.logo.px-3.col-6.col-md-4.col-lg-2.me-0.px-md-5.px-lg-4 
                a.logo-link(href="https://moodle.com") 
                    img.img-fluid(src="/images/logos/moodlehq.png" title="Moodle HQ")
            div.logo.px-3.col-6.col-md-4.col-lg-2.me-0.px-md-5.px-lg-4 
                a.logo-link(href="https://www.bairesdev.com/") 
                    img.img-fluid(src="/images/logos/bairesdev-logo-blue.svg" title="BairesDev")             
            div.logo.px-3.col-6.col-md-4.col-lg-2.me-0.px-md-5.px-lg-4 
                a.logo-link(href="https://enap.gov.br/")
                    img.img-fluid(src="/images/logos/enap.svg" style="height: 45px;" title="EV.G/Enap")
            div.logo.px-3.col-6.col-md-4.col-lg-2.me-0.px-md-5.px-lg-4 
                a.logo-link(href="https://www.unasus.gov.br/") 
                    img.img-fluid(src="/images/logos/footer_h.png" title="UNA-SUS/Fiocruz")
            div.logo.px-3.col-6.col-md-4.col-lg-2.me-0.px-md-5.px-lg-4.uruca 
                a.logo-link(href="https://urucagames.com.br/") 
                    img.img-fluid.logo-light(src="/images/logos/uruca.svg" style="height: 50px;" title="Uruca Game Studio")
                    img.img-fluid.logo-purple(src="/images/logos/uruca-black.svg" style="height: 50px;" title="Uruca Game Studio")
            div.logo.px-3.col-6.col-md-4.col-lg-2.me-0.px-md-5.px-lg-4 
                a.logo-link(href="https://www.gov.br/icmbio/") 
                    img.img-fluid(src="/images/logos/icmbio.png" title="ICMBio") 