
section#cite.position-relative.p-3.p-lg-5
    div.waveWrapper.waveAnimation
        div.inner.text-center.text-light
            blockquote #{cite}
            cite.author Steve Jobs
        div.waveWrapperInner.bgTop
            div.wave.waveTop(style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')")
        div.waveWrapperInner.bgMiddle
            div.wave.waveMiddle(style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')")
        div.waveWrapperInner.bgBottom
            div.wave.waveBottom(style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')")

section.talks-section.section.py-5.theme-bg-light-gradient.p-3.p-lg-5
    div.container
        h3.section-title.font-weight-bold.mb-3 #{talks}
        div.section-intro.mx-auto.mb-5 #{talksdesc} 
        div.talks-blocks.mx-auto
            div.row.justify-content-between
                div.talks-block.d-flex.col-12.col-lg-6.mb-5.mb-3.mb-lg-0.bg-white
                    div                           
                        iframe(width="390" height="240" src="https://www.youtube.com/embed/D3qU93u4-hw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    div.talks-block-inner.py-1.px-3.position-relative
                        h4.talks-cat.mb-3 Latinoware
                        span.talk-year.badge.badge-success 2021
                        span.talk-where.badge
                            i.fa.fa-youtube-play.fa-2x
                        div Moodle Themes - How it provides more convenience for the end-user
                        
                div.talks-block.d-flex.col-12.col-lg-6.mb-5.mb-3.mb-lg-0.bg-white
                    div                           
                        iframe(width="390" height="240" src="https://www.youtube.com/embed/gcKWK7h8bq8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                    div.talks-block-inner.py-1.px-3.position-relative
                        h4.talks-cat.mb-3 MoodleMoot Brazil
                        span.talk-year.badge.badge-success 2021
                        span.talk-where.badge
                            i.fa.fa-youtube-play.fa-2x
                        div How Theme Can Solve Your Problems
                
        div.container.mt-4.p-lg-5
            h4.font-weight-bold.mb-3 #{trema}
            div.section-intro.mx-auto.mb-5 #{tremadesc} 
            div.infolabels.d-flex.align-items-center.mb-3 
                div.timelastreleased.mr-3
                    span.stats-timelastreleased
                div.usage.mr-3
                    span.stats-sites(title="Used on 3798 site(s)") 
                        i.fa.fa-map-marker(aria-hidden="true") 
                        span.ml-1 3798 sites
                div.downloads.mr-3
                    span.stats-downloads(title="Total downloads in last 90 days: 2617")
                        i.fa.fa-download(aria-hidden="true")  
                        span.ml-1 2k downloads
                div.favourites.mr-3
                    span.stats-fans(title="Favourited by 82 user(s)")
                        i.fa.fa-heart(aria-hidden="true")  
                        span.ml-1 82 fans
            div.talks-blocks.mx-auto.pt-5
                div.row.justify-content-evenly
                    div.talks-block.col-12.col-lg-6.mb-5.mb-3.mb-lg-0.bg-white.shadow-sm
                        div.talks-block-inner.py-3.px-5.position-relative
                            h4.talks-cat.text-center.mb-3 #{trema}
                            span.talk-year.badge.badge-success since 2019
                            span.badge.badge-success more than 18k downloads
                            div Moodle Themes - How it provides more convenience for the end-user
                            div.text-center.mt-2
                                a.btn.btn-outline-primary(href="https://moodle.org/plugins/theme_trema" target="_blank") Download
                                    i.fa.fa-download.ml-2